
fastapi==0.104.1
uvicorn==0.24.0
websockets==12.0
vosk
openai-whisper
torch==2.1.1+cpu
torchaudio==2.1.1+cpu
onnxruntime
soundfile
librosa
numpy==1.26.4
scipy>=1.10.0
python-multipart>=0.0.6
pyaudio>=0.2.11
transformers
pydantic-settings>=2.7.0
modelscope==1.11.1
funasr==1.2.9
datasets==2.14.5
pyarrow==14.0.2
